<div class="p-5 font-bold border-2 border-[#DBE9FC] rounded-xl max-w-[150px] w-full h-full flex flex-col justify-between hover:cursor-pointer" (click)="buyCrypto()">
  <div class="mb-[30px]">
    <div class="flex items-center">
      <img
      class="w-5 h-5 rounded-full mr-[14px]"
      [src]="crypto.image"
      alt="Imagen de crypto"
      />
      
      <span>{{ crypto.symbol | uppercase }}</span>
    </div>
    <span class='text-[#9D9FC2] mt-2'>{{ crypto.name }}</span>
  </div>

  <span>{{ crypto.current_price | currency:'USD':'symbol':'1.0-0' }} USD</span>
  <span [ngClass]="{
    'text-success': crypto.price_change_percentage_24h > 0,
    'text-error': crypto.price_change_percentage_24h < 0
  }">
    24h: {{ crypto.price_change_percentage_24h | number:'1.2-2' }}%
  </span>
</div>